<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momashanhe.xuanke.mapper.ManagerMapper">
  <select id="findByUsername" resultType="com.momashanhe.xuanke.entity.Manager">
    SELECT *
    FROM manager
    WHERE username = #{username}
  </select>
  <select id="findById" resultType="com.momashanhe.xuanke.entity.Manager">
    SELECT *
    FROM manager
    WHERE id = #{id}
  </select>
  <update id="updateById" parameterType="com.momashanhe.xuanke.entity.Manager">
    UPDATE manager
    <set>
      <if test="password != null">password = #{password},</if>
      <if test="name != null">name = #{name},</if>
      <if test="phone != null">phone = #{phone},</if>
      <if test="email != null">email = #{email},</if>
    </set>
    WHERE id = #{id}
  </update>
</mapper>